@import '../../assets/sass/main.scss';
.dashboard {
  background-color: #eee;
  display: flex;
  position: relative;
  min-height: 90vh;
  &__content {
    padding: 2rem;
    padding-bottom: 10rem;
    width: 100%;
    @include md {
      margin-left: 7rem;
    }
    @include lg {
      margin-left: 20rem;
    }

    &__search {
      width: 100%;
      display: flex;
      justify-content: center;
      @include md {
        justify-content: flex-end;
      }

      input {
        width: 100%;
        padding: 2rem;
        background-color: white;
        font-size: 1.8rem;
        outline: none;
        border-radius: 1rem;
        border: 1px solid transparent;
        box-shadow: 1px 1px 1px 1px #ccc;
        @include md {
          width: 50%;
        }
      }
    }
    &__title {
      font-size: 2.5rem;
      margin-top: 3rem;
    }
    &__jobs {
      margin-top: 3rem;
      &__title {
        color: $color-black;
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }
    }
  }
}
