@import '../../assets/sass/main.scss';

.profile {
  background-color: #eee;
  display: flex;
  position: relative;
  min-height: 90vh;
  &__content {
    padding: 2rem;
    padding-bottom: 10rem;
    width: 100%;
    @include md {
      margin-left: 7rem;
    }
    @include lg {
      margin-left: 20rem;
    }
    &__title {
      font-size: 2.5rem;
      margin-top: 3rem;
    }
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 1rem;
      @include md {
        font-size: 2rem;
        width: 50rem;
      }
      &__input {
        padding: 2rem;
        border: 0;
        background-color: #ccc;
        outline: none;
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 2rem;
        &:disabled {
          cursor: not-allowed;
        }
        &:focus {
          border: 1px solid lighten($color-primary, 20%);
        }
      }
      &__error {
        color: #ff0000;
        font-size: 1.4rem;
      }
      &__submit {
        margin-top: 2rem;
        padding: 2rem;
        background-color: $color-primary;
        color: #ffffff;
        text-align: center;
        outline: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        border-radius: 20px 20px 20px 0;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
          background-color: lighten($color-primary, 10%);
        }
      }
    }
  }
}
