.card-logo {
  background-color: $color-primary;
  padding: 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 3rem;
    height: 3rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem 2rem;
  @include md {
    grid-template-columns: auto auto;
  }
  @include lg {
    grid-template-columns: auto auto auto;
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  width: 100%;
}
.error {
  text-align: center;
  font-size: 1.8rem;
  padding: 3rem;
}
